coverage
coverage.json

# Compiler files
artifacts

# Dependencies
node_modules
lib

# hardhat
cache_hardhat
typechain
typechain-types
artifacts-ref

# foundry
cache_forge
cache_foundry
reference-out
optimized-out
out
reference-working

# Ignores development broadcast logs
broadcast/*
!/broadcast
/broadcast/*/31337/
/broadcast/*/80001/
/broadcast/**/dry-run/

# Dotenv file
.env

# Logs
yarn-error.log

commands.txt